/*스타일 작성해야 할 컴포넌트: poemCard, Modal*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

$defaultColor: #6666CC;
$fontFamily: 'Nanum Myeongjo', serif;

.nav {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    position: absolute;
    font-family: $fontFamily;
    div {
        width: 100vw;
        font-size: 90px;
        text-align: center;
    }
    p {
        position: absolute;
        top: 20px;
        right: 40px;
    }
}

.writingPage {
    margin-top: 45px;
    font-size: 24px;
    font-family: $fontFamily;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 600px;
        box-shadow: 2px 2px 20px 5px lightgray;
        border-radius: 40px;
        input {
            border: none;
            border-bottom: 1px solid lightgray;
            background-color: none;
            text-align: center;
            width: 300px;
            margin-top: 30px;
        }
        div {
            textarea {
                font-size: 20px;
                border: none;
                text-align: center;
                width: 400px;
                height: 450px;
                margin-top: 20px;
            }
        }
    }
}

.landingPage {
    font-size: 24px;
    font-family: $fontFamily;
    margin-left: calc(50vw - 220px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        height: 600px;
        box-shadow: 2px 2px 20px 5px lightgray;
        border-radius: 40px;
        margin-left: 20px;
        margin-right: 20px;
        p {
            margin: none;
            margin-top: 30px;
        }
        span {
            font-size: 20px;
            border: none;
            text-align: center;
            width: 400px;
            height: 450px;
            margin-top: 20px;
        }
    }
}

.sideNav {
    width: 200px;
    height: 100vh;
    top: 0;
    left: -180px;
    background-color: #6666CC50;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 0.5s;
    &:hover {
        transform: translateX(180px);
    }
    hr {
        width: 50px;
        color: #939393;
    }
    p {
        font-size: 1rem;
        font-family: $fontFamily;
        color: #5F5F5F;
    }
}

.profilePage {
    margin: 100px;
    font-family: $fontFamily;
}

.rightScreen {
    z-index: 100;
    position: absolute;
    top: calc(50vh - 320px);
    right: 0;
    width: calc(50vw - 220px);
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270.27deg, #FFFFFF 0.23%, #FFFFFF 47.4%, rgba(255, 255, 255, 0.88) 74.36%, rgba(255, 255, 255, 0) 99.76%);
}

.leftScreen {
    z-index: 100;
    position: absolute;
    top: calc(50vh - 320px);
    left: 0;
    width: calc(50vw - 220px);
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 47.4%, rgba(255, 255, 255, 0.88) 74.48%, rgba(255, 255, 255, 0) 100%);
}

.button {
    color: white;
    border: none;
    width: 240px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-family: $fontFamily;
    background-color: $defaultColor;
    transition-duration: 0.5s;
    &:hover {
        color: $defaultColor;
        background-color: white;
        border: 1px solid $defaultColor;
    }
}